{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "plugins": [
        "graphql-tag"
      ],
      "client": {
        "plugins": [
          "react-hot-loader/babel"
        ]
      }
    }],
    "stage-0"
  ]
}
