/* COLORS */
$navigationBg: #242424;
$richBlack: #000000;
$silverSand: #717171;
$outerSpace: #474747;
$spanishGray: #9999A1;
$charcoal: #38424e;
$gunmetal: #EAEAEA;
$errieBlack: #1D1A21;
$charcoal1: #E0E0E0;
// $ming: #2A707A;
$ming: #006086;
$logoColor: #0c0c0c;
$techName: #27243e;
$trolleyGrey: #807B78;
// $strong: #54ab9f;
$strong: #08698e;
$macClose: #ed4a61;
$macHide: #f7c147;
$macMax: #1cca37;
$macWindowDark: #c9c9c9;
$macWindowLight: #eaeaea;
$atomBg: #242831;
/* GRID */
$navigationWidth: 22rem;
$navBarHeight: 6rem;

$width-412: "screen and (min-width: 412px)";
$width-670: "screen and (min-width: 670px)";
$width-850: "screen and (min-width: 850px)";
$width-1024: "screen and (min-width: 1024px)";
$width-1150: "screen and (min-width: 1150px)";
$width-1366: "screen and (min-width: 1366px)";
$width-1600: "screen and (min-width: 1600px)";
$width-1900: "screen and (min-width: 1900px)";
